// Button
// 
// A button suitable for giving a star to someone.
// 
// markup: 
// <button> This is a button </button>
// 
// Styleguide 2.1

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding:10px 20px 5px 20px;
	line-height: 1;
	border-radius: $border-radius;
	border:2px solid $rose;
	outline:none;
	font-family: $font-bold;
	font-size:rem(18);

	@include transition;

	&:hover {
		
	}

	&:active,
	&:focus {
		
	}
}


// Reset Button Style
button.button-reset,
.button.button-reset {
	padding:0px;
	text-shadow:none;
	box-shadow: none;
	border-radius: 0px;
	border:0px;
	
	background-color:transparent;
	outline:none;
}


// Primary Button
.button.primary {
	background-color:$rose;
	border-color:$rose;
	color:white;

	&:hover {
		background-color:$dark-puce;
		border-color:$dark-puce;
		color:white;
	}
}

// Secondary Button
.button.secondary {
	background-color:$blue;
	border-color:$blue;
	color:white;

	&:hover {
		background-color:$dark-puce;
		border-color:$dark-puce;
		color:white;
	}
}

// Gold Button Style
.button-gold {
	font-size:rem(18);
	text-transform: uppercase;
	color:$gold;

	border:2px solid $gold;
	border-radius:$border-radius;
		
	&:hover {
		border-color:$burnt-orange;
		background-color:$burnt-orange;
		color:white;
	}
}
