
/* 
Forms & Inputs

Styleguide 2.0
*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding:10px 20px 5px 20px;
	line-height: 1;
	border:0px;
	border-radius: $border-radius;
	outline:none;

	&:focus {
	}
}

textarea {
	padding-left: 3px;
	width: 100%;
}


/* 
Forms

Markup:
<label>Text Label</label>

Styleguide 2.2
*/

/* Labels */
label {
	font-family: $font-bold, $font-fallback;
	font-size:rem(16);
	text-transform: uppercase;
	color:$brown-light;
}