.feature-box {
	
	position:relative;
	@include span-columns(1.5);
	height:435px;

	margin-top:60px;
	margin-bottom:60px;

	color:white;
	
	border-left:8px solid $burnt-orange;
	
	&:hover {
		.feature-box-image-container {
			@include transition(.5s);
			opacity:.5;
			.feature-box-image {
				@include transition(.5s);
				transform:scale(1.1);
			}
			
		}
	}
	
	// Color Schemes
	&.feature-brown {
		background-color:$brown;
	}

	&.feature-blue {
		background-color:$blue;
	}

	&.feature-red {
		background-color:$rose;
	}

	&.feature-green {
		background-color:$olive;
	}

	h2 {
		margin-top:20px;
		font-size:rem(40);
		color:white;
		text-align: left;
		text-transform: inherit;

		a {
			color:white;
			&:hover {
				color:$gold;
			}
		}
	}

	.feature-box-image-container {
		overflow:hidden;
		@include transition(.5s);
		opacity:.2;
		height:435px;

		.feature-box-image {
			@include transition(.5s .2s linear);
			height:435px;
			background-size:cover;
			background-position: center center;
		}
	}
	
	.feature-box-inner {
		position:absolute;
		top:0;
		left:0;
		padding:40px;
		height:435px;

		.feature-box-content {
			position:absolute;
			bottom:100px;
		}

		.feature-box-button {
			position:absolute;
			bottom:48px;

		}
	}
}// END .feature-box