/* NOTE: Header Variables are located in _structure.scss */

// Site Header
header.site-header {	
	padding-top:14px;
	padding-bottom:14px;
	position:relative;

	background-color:$brown;
	box-shadow: inset 0 -20px 20px -10px rgba(0,0,0,0.2);

	// Mobile
	height: $header-height-mobile;
		
	// Desktop
	@include media($desktop) {

		height: $header-height;
		box-shadow:none;
		background-image:url(../img/header-gradient.png);
		background-repeat: repeat-x;
		background-position: bottom right;	
		
		// Header Curve
		&:after {
			content:'';
			position:absolute;
			z-index:2;
			bottom:-34px;
			left:0;
			height:65px;
			width:690px;

			background-image:url(../img/header-curve.png);
			background-position: left top;
			background-repeat: no-repeat;
		}
	}
	// Top Fade for Main Nav
	&:before {
		opacity:0;
		z-index:9;
		content:'';
		position:fixed;
		
		left:0;
		height:20px;
		width:100%;
		
		@include background-image(linear-gradient(to top, transparent, $brown));

		transition:opacity 0s linear;

		// Desktop
		@include media($desktop) {
			top:$header-height;
			display:none;
		}

		// Mobile
		top:$header-height-mobile;
		display:block;
	}//END &:before
}//END header.site-header

// Menu Open Site Header
body.nav-menu-open {

	.site-header {
		
		box-shadow: none;

		// Top Fade for Main Nav
		&:before {
			opacity:1;
			transition:opacity .5s linear;
			
			// Mobile
			top:$header-height-mobile;
			display:block;

			// Desktop 
			@include media($desktop) {
				top:$header-height - 20px;
			}
		}
	}
}//END body.nav-menu-open

// Site Branding
.site-branding {
	
	// Mobile
	@include media($mobile) {
		text-align: center;
	}
	
	// Desktop 
	@include media($desktop) {
		text-align: left;	
	}

	h1.site-title {
		
		margin-top:0px;
		margin-bottom:0px;
		
		// Desktop
		@include media($desktop) {
			text-align: left;
			float:left;	
		}

		img.site-logo {
			// Mobile
			width:100px;

			// Desktop
			@include media($desktop) {
				width: 224px;
				padding-left:20px;
				margin-left:20px;
				z-index:4;
				position:relative;	
				background-color:$brown;
			}
			
		}
	}

}

/* Navigation Button */

// Button Hover Animation
@keyframes nav-button-hover {
    0% {
		background-color:$tan;
    }

    33% {
		background-color:$rose;
    }

    66% {
		background-color: $burnt-orange;
    }

    100% {
    	background-color: $gold;
    }
}

// Button
.nav-menu-button {
	position: absolute;
	height:36px;
	display:block;
	@include clearfix;

	// Mobile
	left:$content-padding;
	top:22px;

	// Desktop
	@include media($desktop) {
		left:inherit;
		right:40px;
		top:45px;
	}

	&:hover {
		.nav-menu-text {
			color:$gold;
		}
		
		// Hover animation for bars
		.nav-menu-button-bars {
			span {
				
				//@include transition(transform .2s .0s, opacity .3s, background-color .1s .3s);		
				
				transition:transform .2s .0s, opacity .3s, background-color .1s .3s;
				transform: translate3d(0,0,0);

				background-color:$gold;
				animation-name: nav-button-hover;
				animation-direction: normal;

				&#bar-1 { 
	    			animation-delay: 0s; 
	    		}
	    		&#bar-2 { 
	    			animation-delay: .1s; 
	    		}
	    		&#bar-3 { 
	    			animation-delay: .2s; 
	    		}
	    		&#bar-4 { 
	    			animation-delay: .3s; 
	    		}
			}
		}
	}	

	// Button's "Menu" Text (hidden on mobile)
	.nav-menu-text {
		display:inline-block;
		font-family: $font-book;
		color:$tan;
		font-size:rem(24);
		margin-top:8px;
		margin-left:20px;

		@include transition;

		// Mobile
		@include media($mobile) {
			display:none;
		}
		
		// Desktop
		@include media($desktop) {
			display: inline-block;
			margin-top:2px;
		}

	}

	// Button's Bar container
	.nav-menu-button-bars {
		display:block;
		float:left;
		width:34px;
		height:36px;

		// Bars
		span {
			position:absolute;
			display:block;
			width:34px;
			height:3px;
			background-color:$tan;
	
    		transition:transform .2s 0s, opacity .3s, background-color .5s 0s;

    		animation-duration: .4s;

    		&#bar-1 { 
    			top:0;
    		}
    		&#bar-2 { 
    			top:8px;
    		}
    		&#bar-3 { 
    			top:16px;
    		}
    		&#bar-4 { 
    			top:24px;
    		}
		}
	}
}// END .nav-menu-button

// Menu Open Button
body.nav-menu-open {

	.nav-menu-text {
		color:white;
	}

	.nav-menu-button {
		&:hover {
			.nav-menu-button-bars {
				span {
					background-color:$gold !important;
					animation:none;
				}
			}
		}//END &:hover

		// Button bars transitions
		.nav-menu-button-bars {
			span {
				background-color:white;

				&#bar-1 { 
	    			top:0;
	    			opacity:0;
	    			transform:translateY(10px);
	    		}
	    		&#bar-2 { 
	    			top:8px;
	    			transform:rotate(45deg) translateY(6px);
	    			//@include transition(transform .2s .2s, opacity .3s, background-color .5s 0s);
	    			transition: transform .2s .2s, opacity .3s, background-color .5s 0s;
	    		}
	    		&#bar-3 { 
	    			top:16px;
	    			transform:rotate(-45deg) translateY(-6px);
	    			//@include transition(transform .2s .2s, opacity .3s, background-color .5s 0s);
	    			transition: transform .2s .2s, opacity .3s, background-color .5s 0s;
	    		}
	    		&#bar-4 { 
	    			top:24px;
	    			opacity:0;
	    			transform:translateY(-10px);
	    		}
			}
		}//END .nav-menu-button-bars

	}//END .nav-menu-button

}//END body.nav-menu-open

// Login Button
a.login-button {
	display:block;
	position:absolute;
	top:26px;
	right:$content-padding;
	color:white;
	text-transform: uppercase;
	font-size:rem(16);
	font-family: $font-bold;
	font-weight: 300;

	// Desktop
	@include media($desktop) {
		display:none;
	}
	
	&:hover {
		color:$color-link-hover-dark;
	}
}

// Desktop Header Elements Container
.header-desktop {

	display:none;

	@include media($desktop) {
		margin-top:26px;
		margin-right:250px;
		float:right;
		display:block;	
	}
	
}


// Desktop Login
.header-login {
	input {
		font-size:rem(18);
		color:$tan;
		background-color:$gold-half;

		transition:all .3s ease-in-out;

		@include placeholder {
			color:$tan;
		}

		&:focus {
			background-color:$brown-light;
			color:black;
		}
	}

	#login-submit {
		font-family: $font-bold;
		margin-left:5px;
		color:white;
		text-transform: uppercase;
		background-color:$green;
		border-radius: $border-radius;
		border:2px solid $green;

		&:hover {
			border-color:$rose;
			background-color:$rose;
		}
	}
}//END .header-login


// Join Us
.header-join {
	margin-left:20px;
	margin-right:20px;
}

// Header Search
.header-search {
	color:$gold;
	text-transform: uppercase;
	font-size:rem(18);
	font-family: $font-bold;

	&:before {
		vertical-align: middle;
		margin-right:10px;
		font-family: "acu-wp-icons";
		content: "\EA01";
		font-size:rem(22);
	}

	&:hover {
		color:white;
	}
}

// WordPress Admin Bar
#wpadminbar {
	position:fixed;
}

// WP Admin Bar adjustments
body.admin-bar {
	// Top Fade for Main Nav
	header.site-header{
		&:before {
			top:$header-height-mobile + 46px;
			
			// Desktoo
			@include media($desktop) {
				top:$header-height + 30px;
			}
		}
	}
}


/*================================================
=            Desktop Size Adjustments            =
================================================*/

@media (max-width:1480px) {
	.header-login input {	
		&.input-username,
		&.input-password {
			width:120px;
		}
	}
}

@media (max-width:1230px) {
	.header-desktop {
		margin-right:180px;
	}
}

@media (max-width:1100px) {
	.header-search {
		display:none;
	}
}

@media (max-width:1000px) {
	.header-join {
		display:none;
	}
}

@media (max-width:850px) {
	.nav-menu-text {
		display:none !important;
	}

	.header-desktop {
		margin-right:100px;
	}
}


/*=====  End of Desktop Size Adjustments  ======*/
