ul, ol {
	margin: 0;
	padding-left:.7em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}


/*=====================================
=            Site Map List            =
=====================================*/
ul.site-map {

	margin-top:40px;
	margin-left:0px;
	padding-left:0px;

	font-family: $font-book;

	//Desktop
	@include media($desktop) {
		column-count: 2;
    	column-gap: 80px;
    	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;

	}

	li {
		margin-left:0px;
	}


	ul.children {
		margin-left:0px;
		li  {
			margin-left:0px;

			a {
				padding-left:0px;
				font-family: $font-book !important;
			}
		}
	}//END ul.children
}

// Parent Pages
ul.site-map > li.page_item_has_children {
	margin-bottom:20px;
	margin-top:20px;

	&:first-child {
		margin-top:0px;
	}
}

ul.site-map > li.page_item_has_children > a,
ul.site-map > li > a {
	font-family: $font-bold;
}


/*=====  End of Site Map List  ======*/

/*===================================
=            Styled List            =
===================================*/
ul.list-styled {
	@include listreset;

	li {
		border-bottom:1px solid $tan;
		padding-top:10px;
		padding-bottom:10px;

		&:last-child {
			border-bottom:none;
		}
	}
}


/*=====  End of Styled List  ======*/

