// Posts list container on category pages (news/ blog index)
.posts-list {
	@include clearfix;
}


/*----------  Post Article Teaser  ----------*/
// Post Teaser 
// Displayed on Blog (News) section index, front page
// Also used for index page items

article.post,
.index-item article {
	
	// Post Title
	.entry-header {
		h1 {
			
			margin:0px 0px 20px 0px;
			line-height: 1;
			text-align: left;
			
			a {
			
			color:$brown;
			font-size:rem(22);

				&:hover {
					color:$blue;
				}
			}
		}
	}

	// Post Thumbnail
	.entry-thumbnail {
		height:260px;
		overflow: hidden;
		margin-bottom:20px;


		background-color:$brown;
		border-left:8px solid $blue-light;
		
		a {
			display:block;
			width:100%;
			height:260px;

			background-size: cover;
			background-position: center center;
			opacity:.6;

			transform:translate3d(0,0,0) ;

			transition: all .5s .2s linear;

			&:hover {
				opacity:1;
				transform:scale(1.1) translate3d(0,0,0);
				transition:all .5s ease-in-out;
			}
		}
	}

	// Post Excerpt
	.entry-excerpt {
		font-size:rem(18);
	}

}//END .article.post


// Teaser sizing
// Posts / Blog Index  
// Being used for "News" section, and homepage
.category,
.archive,
.home-posts {
	article.post {

		margin-bottom:60px;
		
		// Mobile
		@include media($mobile) {
			@include span-columns(1 of 1);
			@include omega(1n);
		}
		
		// Desktop
		@include media($desktop) {
			@include span-columns(1 of 2);
			@include omega(2n);
		}
		// Ellipses
		h1 {
			//Desktop
			@include media($desktop) {
				@include ellipses;
			}

			color:$brown;
			font-size:rem(22);
		}
	}
}

/*----------  END Article Teaser  ----------*/

// Category Sticky Plugin
.category-sticky {
	border:none;
}

/*===================================
=            Single Post            =
===================================*/
.single-post {
	article.post { 
		// Shim to push down share content icons from plugin
		margin-bottom:60px;
	}
}

		

// Featured Image
.entry-featured-image {
	img {
		width:100%;
		height:auto;

		margin-bottom:60px;
	}
	
}//END .entry-featured-image

// Entry Footer
.entry-footer {

}//END .entry-footer

// Entry Meta
.entry-meta {
		
	.posted-on {
		font-style: italic;
		color:$brown-light;
		font-size:rem(20);
		a {
			color:$brown-light;

			&:hover {
				color:$blue;
			}
		}
	}

}//END .entry-meta

/*----------  END Single Post  ----------*/
