// Locations Page

/* 
.locations-container {
	position:relative;
	height:calc(85vh - #{$header-height});
}
.locations-iframe {
	position: absolute;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
} */

.locations-iframe {
	width:100%;
	height:100%;
}