// Testimonails page
.page-template-testimonials {

}// END .page-template-testimonials


ul.testimonials-list {
	
	@include listreset;
	margin-top:60px;
	
	// Masonry Gutter
	.gutter-sizer {
		// Mobile
		@include media($mobile) {
			width: 0%;
		}

		// Tablet
		@include media($tablet) {
			width: 8%;
		}

		// Desktop
		@include media($desktop) {
			width: 8%;
		}
		
	}

	li.testimonial {

		display:block;
		margin-bottom:40px;
		
		// Mobile
		@include media($mobile) {
			//@include span-columns(1 of 1);
			width:100%;
		}

		// Tablet 
		@include media($tablet) {
			//@include span-columns(1 of 2);
			width:46%;
		}

		// Desktop
		//@include span-columns(1 of 3);
		//@include omega;
		//margin-right:0px;
		width:28%;

		// Testimonial with Image
		&.image-testimonial {
			min-height:285px;
			.testimonial-content {
				border-top:0px;
			}
		}
		
		// Hover Style
		&:hover {
			.testimonial-image-container {
				.testimonial-image {
					opacity:1;
					transform:scale(1.1);
					@include transition(all .3s ease-in-out);
				}
			}
		}
		
		// Testimonial Image
		.testimonial-image-container {

			background-color:$brown;
			overflow:hidden;
			position: relative;

			&.testimonial-image-with-video {
				&:after {
					content:'';
					z-index:1;
					position: absolute;
					top:50%;
					left:50%;
					margin-top:-50px;
					margin-left:-40px;
					@include triangle(100px 80px, rgba(255, 255, 255, 0.5), right);
				}
			}


			//Video link
			a {
				display:block;
				position: absolute;
				top:0;
				bottom:0;
				width:100%;
				z-index: 2;
				.wpvl_auto_thumb_box_wrapper {
					display:none;
				}
			}

			.testimonial-image {
				position: relative;
				display:block;
				opacity:0.6;
				@include transition(all .5s ease-in-out);
			}
		}
		
		// Testimonial Content
		.testimonial-content {
			padding:$content-padding;
			border:4px solid transparent;
			background-color:white;

			.testimonial-name, 
			.testimonial-location {
				font-family: $font-bold;
				font-size:rem(18);
				line-height: 1;
				text-transform: uppercase;
				
				color:$brown-light;
			}

			.testimonial-location {
				&:before {
					content:', ';
					margin-left:-5px;
				}
			}
		}

		// Colorings
		&:nth-child(odd){
			.testimonial-content {
				border-color:$blue-light;	
			}
		}

		&:nth-child(even){
			.testimonial-content {
				border-color:$tan;	
			}
		}

		&:nth-child(5n){
			.testimonial-content {
				border-color:$tan;	
				background-color:$tan;
			}
		}

		&:nth-child(4n){
			.testimonial-content {
				border-color:$blue-light;
				background-color:$blue-light;
			}
		}

	}//END li.testimonial

}//END ul.testimonials-list


/*======================================
=            Video Lightbox            =
======================================*/
.pp_default {
	@include media($mobile) {
		width:100% !important;
		
		left:0 !important;
		right:0 !important;

		.pp_content_container,
		.pp_left,
		.pp_right,
		.pp_content {
			min-height: 200px !important;
		}
		
		.pp_fade {
			margin-left:-7px !important;
		}
		.pp_content {
			width:100% !important;
		}

		iframe {
			width:100% !important;
			min-height: 200px !important;
		}

		.pp_expand {
			display:none !important;
		}

		.pp_details {
			position:absolute !important;
			top:-20px !important;
			right:0 !important;
		}
	}
}

/*=====  End of Video Lightbox  ======*/
