
// Visual Index List
ul.index-list {
	@include listreset;
 	li.index-item {
		
		// Mobile
		@include media($mobile) {
			@include span-columns(1 of 1);
			@include omega(1n);
			margin-bottom:30px;
		}

		// Tablet
		@include media($tablet) {
			@include span-columns(1 of 2);
			@include omega(2n);
			margin-bottom:30px;
		}

 		// Desktop
		@include media($desktop) {
			@include span-columns(1 of 3);
			@include omega(3n);
			margin-bottom:60px;
		}
		
		// Index Item Articles
		// Visual Index items (article) base styles defined in _blog.scss
 		article {

 			.entry-thumbnail {
 				border-color:$burnt-orange;
 			}
 		}
 	
 	}// END li.index-item
}//END ul.index-list