/* 
Links
 
Text link styles

&:hover - Hover Link
&:visited - Visted Link
 
Markup: <a>Link</a>
 
Styleguide 1.5 
*/

a {
	color: $color-link;
	text-decoration: none;

	@include transition;

	&:visited {
		//color: $color-link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

// Read More Link
.read-more {
	font-family: $font-book;
	font-size:rem(18);

	&:after {
		content:'\203A';
		margin-left:5px;
	}
}

// Inline Telephone
.inline-tel {
	color:$brown;
	&:hover {
		color:$blue;
	}
}