/* Main Navigation */

//Main Navigation Menu
.main-navigation {

	display: block;
	z-index: 99999;
	position:absolute;
		
	left:0;
	right:0;
	width: 100%;
	padding:0px $content-padding 40px $content-padding;

	color:white;
	background-color:$brown;

	overflow-y:hidden !important;
	
	//@include transition(opacity .3s, visibility 0s .3s);
	transition:opacity .3s ease-in-out, visibility 0s .3s ease-in-out;
	transform: translate3d(0,0,0);

	//Hide Menu
	opacity:0;
	visibility: hidden;

	// Mobile
	@include media($mobile) {
		top:$header-height-mobile;
		bottom:0;
		padding:20px $content-padding 40px $content-padding;
	}
	

	// When not mobile but viewport height isn't enough to see the full menu (menu height + header height)
	@media (max-height:740px) {
		top:$header-height-mobile;
	}

	// Desktop
	@include media($desktop) {
		z-index:2;
		top:$header-height - 30px;
		bottom:inherit;
		//height:60%;
		height:650px;
		box-shadow: 0px 20px 20px rgba(0,0,0, 0.3);
		background-color:rgba(84, 48, 26, 0.9);
	}

	// Menu height adjustment for small desktop... comes after desktop again
	@media (max-height:740px) {
		bottom:0;
		height:inherit;
	}

	.site-nav-inner {
		opacity:0;
		transform:translate3d(0,-50%,0);
		height:100%;
		padding-top:30px;
		overflow-y:auto;

		//@include transition(transform .5s ease-in-out, opacity .5s ease-in-out);
		transition: transform .5s ease-in-out, opacity .5s ease-in-out;

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}


	// Top Fade for Main Nav
	
	&:before {
		
		opacity:0;
		z-index:9;
		content:'';
		position:absolute;
		display:block;
		
		left:0;
		height:20px;
		width:100%;
		
		//@include background-image(linear-gradient(to top, transparent, $brown));
		background-image:url(../img/header-fade.png);
		background-repeat: repeat-x;
		background-position: top left;

		transition:opacity 0s linear;

		// Desktop
		@include media($desktop) {
			top:0px;
		}

		// Mobile
		top:20px;

	}//END &:before
	

}//END .main-navigation

// Content Cover under menu
.menu-cover {
	position:fixed;
	z-index:0;
	top:$header-height;
	bottom:100%;
	left:0px;
	right:0px;

	top:$header-height;
	
	background-color:transparent;

	//@include transition(background .3s ease-in-out);
	transition: background .3s ease-in-out;
	transform: translate3d(0,0,0);
}

//Main Navigation Menu Toggle
body.nav-menu-open {
	overflow:hidden;
	
	.menu-cover {
		bottom:0px;
		background-color:rgba(0,0,0,0.8);
		z-index: 1;

		@include media($mobile) {
			display:none;
		}
	}

	//Nav Menu
	.main-navigation {

		//Show the Main Navigation
		opacity:1;
		visibility:visible;
		z-index:3;
		
		//@include transition(opacity .3s ease-in-out, visibility 0s 0s ease-in-out);
		transition: opacity .3s ease-in-out, visibility 0s 0s ease-in-out;

		.site-nav-inner {
			//@include transition(transform .2s ease-in-out, opacity .2s ease-in-out);
			transition: transform .2s ease-in-out, opacity .2s ease-in-out;
			transform: translate3d(0,0,0);
			opacity:1;
		}

		// Top Fade for Main Nav
		&:before {
			opacity:1;
			transition:opacity .5s linear;
		}
		
	}

}//END Main Navigation Menu Toggle

// WP Admin Bar adjustments
body.admin-bar {
	.main-navigation {
		// Mobile
		top:$header-height-mobile + 46px;	
		
		// Desktop
		@include media($desktop) {
			top:$header-height;
		}
	}

	.menu-cover {
		// Desktop
		@include media($desktop) {
			top:$header-height + 30px;
		}	
	}
}

// Bug Me Bar Notifications Bar adjustments
body.bugmebar {
	.main-navigation {

		// Desktop
		top:$header-height + 40px;
		
		// DesktopMobile
		&:before {
			top:$header-height + 40px;
		}
	}

	.menu-cover {
		top:$header-height + 40px;
	}
}


/*========================================
=            Menu Widget Area            =
========================================*/
#menu-sidebar {
	
	// Main Menu Page Menu
	.main-menu-menu {
		
		// Desktop
		@include media($desktop) {

			width:60%;
			margin:0 auto 40px auto;
			
			column-count: 2;
    		column-gap: 100px;
    		column-rule: 1px solid $tan;

    		text-align: center;

			
			position: relative;
    		padding-top:50px;
    		padding-bottom:30px;
    		margin-bottom:40px;
			

		 	@media (max-width:1200px) {
		   		width:85%;
				column-gap: 20px;
		    }
			
			/*
    		&:before {
    			content:'';
    			position: absolute;
    			top:0;
    			bottom:0;
    			left:50%;
    			width:1px;
    			background-color:$tan;
    		}
    		*/
		}
		
		
		ul {
			@include listreset

			// Desktop
			background-color:transparent;
			
			li {
				font-size:rem(28);

				// Desktop
				@include media($desktop) {
					font-size:rem(34);
					margin-bottom:10px;
				}
				

				a {
					color:white;

					&:hover {
						color:$color-link-hover-dark;
					}
				}
				

				// Search Link in menu
				&:last-child {
					display:none;
					
					//Mobile
					@include media($mobile) {
						display:block;
					}

					//Tablet
					@include media($tablet) {
						display:block;
					}
					
					//  When search disappears from header
					@media (max-width:1100px) {
						display:block;
					}



					a {
						&:before {
							vertical-align: text-bottom;
							margin-right:10px;
							font-family: "acu-wp-icons";
							content: "\EA01";
							line-height: 38px;
							font-size:rem(22);
						}

						&:hover {
							&:before {
								color:$gold;
							}
						}
					}
				}
			}
		}// END ul
	}//END .main-menu-menu
	
	// Main Menu Telephone
	.main-menu-telephone {
		text-align: center;
		margin-bottom:20px;

		@include media($mobile) {
			margin-top:40px;
		}
		
		h2.widget-title {
			text-transform: none !important;
			margin-bottom:10px;
			color:$tan;
			font-size:rem(24);
		}

		a {
			color:$gold;
			font-size:rem(40);


			@include media($desktop) {
				font-size:rem(50);
			}
		}
	}

	// Social Icons
	.main-menu-social-icons {
		text-align:center;
		li {
			@include media($mobile) {
				@include span-columns(.8 of 4);	
			}

			a {
				background-color:transparent !important;
				border-color:transparent !important;
				font-size:rem(30);
			}
		}
	}//END .main-menu-social-icons


}//END #menu-sidebar

/*=====  End of Menu Widget Area  ======*/


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
