/*============================
=            Copy            =
============================*/
/* 
Paragrapgh

Markup: <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptatibus alias consequuntur, placeat maxime minima hic, omnis nulla, porro sequi doloribus magni delectus. Doloremque harum, dicta ea sed quasi eveniet.</p>

Styleguide 1.4
*/

p {
	margin-top:0px;
	margin-bottom: 1em;
}


/* 
Misc Text

Markup: <span class="{$modifiers}">{$modifiers}</span>

.breadcrumb - Breadcrumbs

Styleguide 1.4.1
*/

//Breadcrumbs
.breadcrumb {
	font-size: rem(20);
	font-weight: normal;
	color:$burnt-orange;
}

// Separator
span.separator {
	display:block;
	width:100%;
	border-bottom:1px solid $tan;
	margin-top:10px;
	color:transparent!important;

	&.separator-small {
		@include media($desktop) {
			display:none;
		}
	}
}

// Preface (Contact Page)
span.preface {
	text-transform: uppercase;
	color:$brown-light;
	font-size:rem(18);
	font-family: $font-medium;
}

// Content Box
.content-box {
	padding:40px;
	border:4px solid $blue-sky;

	&.content-box-blue {
		border-color:$blue-sky;
	}

	&.content-box-orange {
		border-color:$burnt-orange;
	}

	&.content-box-rose {
		border-color:$rose;
	}

	&.content-box-green {
		border-color:$green;
	}

	&.content-box-brown {
		border-color:$brown;
	}

	&.content-box-gold {
		border-color:$gold;
	}

	&.content-box-tan {
		border-color:$tan;
	}
}


dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color-background-pre;
	font-family: $font-pre;
	@include font-size(0.9375);
	line-height: $line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font-code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
}

mark, ins {
	background: $color-background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}




/*=====  End of Copy  ======*/
