@import "neat-helpers";

/* Neat Grid Settings */
$column: 380px;
$gutter: 80px;
$grid-columns: 3;
$max-width: 1344px;

/* Visual Grid */
$visual-grid: false;
$visual-grid-color: rgba(255, 0, 0, 0.5);
$visual-grid-index: front;
$visual-grid-opacity: 0.4;

/* Breakpoints */
$desktop: new-breakpoint(min-width 769px 3);
$tablet: new-breakpoint(min-width 481px max-width 768px 3);
$mobile: new-breakpoint(max-width 480px 2);