/* #primary {
	@include span-columns (2 of 3);
	@include shift(1);

	border:1px solid red;
}

.site-main {}//END .site-main

#secondary {
	@include span-columns (1 of 3);
	@include shift(-3);

	border:1px solid blue;
} 

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}
*/