// Widgets for website
// Footer Widgets in _footer.scss
// Menu Widgets in _menu.scss

.widget {
	//margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*=============================================
=            Quick Navigation Menu            =
=============================================*/

.quick-nav {
	background-color:$blue-sky;
	padding-bottom:28px;

	h3 {
		padding:$content-padding;
		padding-bottom:10px;
		margin:0px;
		font-size:rem(24);
	}

	ul {
		@include listreset;

		li {

			border-bottom:1px solid $blue-light;
			padding:5px $content-padding 0px $content-padding;
			font-size:rem(18);

			a {
				color:$brown;
				&:hover {
					color:$blue;
				}
			}
		}
	}
}//END .quick-nav

/*=====  End of Quick Navigation Menu  ======*/



/*===============================================
=            General Sidebar Widgets            =
===============================================*/
#secondary .widget {
	margin-top:40px;
	border-top:1px solid $tan;
	padding-top:20px;

	h2.widget-title {
		text-transform: none;
		font-style: italic;
		text-align: left;
		margin-bottom:50px;
		font-family: $font-book;
	}

	&:first-of-type {
		
		@include media($tablet) {
			margin-top:100px;
		} 

		@include media($desktop) {
			margin-top:100px;
		} 

	}
}
/*=====  End of General Sidebar Widgets  ======*/


/*===========================================
=            Sidebar Menu Widget            =
===========================================*/

#secondary .widget_nav_menu {

	border-top:0px !important;
	margin-top:0px !important;
	padding-top:100px !important;
	padding-bottom:30px !important;
	background-color: $blue-sky;

	h2 {
		text-align: left;
		padding-left:$content-padding;
		margin-bottom:60px;
		color:$brown;
		font-size:rem(30);
		text-transform: none;
	}

	ul {
		
		@include listreset;

		li {

			border-bottom:1px solid $blue-light;
			padding:10px $content-padding 3px $content-padding;
			font-size:rem(20);

			&.current-menu-item {
				background-color:white;
			}

			a {
				color:$blue;
				&:hover {
					color:$gold;
				}
			}
		}

	}//END ul

}//END .widget_nav_menu


/*=====  End of Sidebar Menu Widget  ======*/


/*============================================
=            Related Posts Widget            =
============================================*/

.widget-related-post {

	margin-top:40px;
	border-top:1px solid $tan;
	padding-top:20px;

	h2.widget-title {
		text-transform: none;
		font-style: italic;
		text-align: left;
		margin-bottom:50px;
		font-family: $font-book;
	}

	ul {
		@include listreset;

		li {
			a.crp_title {
				color:$brown;
				font-family: $font-bold;
				margin-bottom:20px;
				display:block;
				background-color:transparent;
				border-left:none;
			}
			
			// General a style, since image is not wrapped
			a {
				background-color:$brown;
				display:block;
				overflow:hidden;
				border-left:10px solid $blue-sky;

				// DESKTOP
				max-height: 260px;
			}

			.crp_thumb {
				
				opacity:.7;
				transition: all .5s .2s linear;
				
				// DESKTOP
				height:260px;

				&:hover {
					opacity:1;
					transform:scale(1.1) translate3d(0,0,0);
					transition:all .5s ease-in-out !important;
				}
			}
		}
	}
}

/*=====  End of Related Posts Widget  ======*/


/*======================================
=            Twitter Widget            =
======================================*/
.twitter-widget {
	
}

.tp_recent_tweets {}

/*=====  End of Twitter Widget  ======*/


/*=======================================
=            Facebook Widget            =
=======================================*/
.widget-facebook {
	border-top:0px !important;

	h2.widget-title {
		display:none;
		margin-bottom:0px;
	}

	a.facebook-link {

		color:$blue;
		text-transform: uppercase;
		font-family: $font-bold;
		font-size:rem(16);

		&:hover {
			color:$rose;
		}

		&:before {
			font-size:rem(26);
			vertical-align: middle;
			content: "\EA02";
			font-family: "acu-wp-icons";
		}
	}
	
}


/*=====  End of Facebook Widget  ======*/


