// Widgets for website
// Footer Widgets in _footer.scss
// Menu Widgets in _menu.scss

.widget {
	//margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*=============================================
=            Quick Navigation Menu            =
=============================================*/

.quick-nav {
	background-color:$blue-sky;
	padding-bottom:28px;

	h3 {
		padding:$content-padding;
		padding-bottom:10px;
		margin:0px;
		font-size:rem(24);
	}

	ul {
		@include listreset;

		li {

			border-bottom:1px solid $blue-light;
			padding:5px $content-padding 0px $content-padding;
			font-size:rem(18);

			a {
				color:$brown;
				&:hover {
					color:$blue;
				}
			}
		}
	}
}//END .quick-nav

/*=====  End of Quick Navigation Menu  ======*/



/*===============================================
=            General Sidebar Widgets            =
===============================================*/
#secondary .widget {
	margin-top:40px;
	border-top:1px solid $tan;
	padding-top:20px;

	h2.widget-title {
		text-transform: none;
		font-style: italic;
		text-align: left;
		margin-bottom:50px;
		font-family: $font-book;

		a {
			color:$brown-light;

			&:hover {
				$color:$blue;
			}
		}
	}

	&:first-of-type {
		
		@include media($tablet) {
			margin-top:100px;
		} 

		@include media($desktop) {
			margin-top:100px;
		} 

	}
}
/*=====  End of General Sidebar Widgets  ======*/


/*===========================================
=            Sidebar Menu Widget            =
===========================================*/

#secondary .widget_nav_menu {

	border-top:0px !important;
	margin-top:0px !important;
	padding-top:100px !important;
	padding-bottom:30px !important;
	background-color: $blue-sky;

	h2.widget-title {
		text-align: left;
		padding-left:$content-padding;
		margin-bottom:30px;
		color:$brown;
		font-size:rem(30);
		text-transform: none;

		a {
			color:$burnt-orange;
			font-family: $font-medium;
			font-style: normal;

			&:hover {
				color:$blue;
			}
		}
	}

	ul {
		
		@include listreset;

		li {

			border-bottom:1px solid $blue-light;
			padding:10px $content-padding 3px $content-padding;
			font-size:rem(20);

			&.current-menu-item {
				background-color:white;
			}

			&.menu-item-has-children {

				a {
					padding:10px $content-padding 3px $content-padding;
				}
				padding:0px;
				padding-top:10px;
			}

			a {
				color:$blue;
				&:hover {
					color:$dark-puce;
				}
			}
		}//END li

		ul.sub-menu {
			@include listreset;

			li {
				
				background-color:$blue-sky;

				&.current-menu-item {
					background-color:white;
				}

				&:first-child {
					border-top:1px solid $blue-light;
				}

				&:last-child {
					border-bottom:0px;
				}
			}
		}//END .sub-menu

	}//END ul

}//END .widget_nav_menu


/*=====  End of Sidebar Menu Widget  ======*/


/*===================================
=            Form Widget            =
===================================*/
.widget-form {

	background-color:$blue-sky;
	padding:50px $content-padding;

	h2.widget-title {
		color:$brown;
		font-size: rem(30);
		font-style:normal;
		margin-top:50px;
		margin-bottom:20px;
	}

	.gfield {
		margin-bottom:10px !important;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"] {
		border:1px solid $blue-light;

		&:focus {
			border-color:$blue;
		}
	}

	select {
		border-color:$blue-light;

		&:focus {
			border-color:$blue;
		}
	}

	textarea {
		border:1px solid $blue-light;

		&:focus {
			border-color:$blue;
		}
	}

	input[type="submit"] {
		border:1px solid $blue;
		background-color:$blue;
		color:white;

		&:hover {
			border-color:$dark-puce;
			background-color:$dark-puce;
		}

	}
}


// Contact Form
.widget-contact-form {
	margin-top:0px !important;
}


/*=====  End of Form Widget  ======*/


/*============================================
=            Related Posts Widget            =
============================================*/

.widget-related-post {

	margin-top:40px;
	border-top:1px solid $tan;
	padding-top:20px;

	h2.widget-title {
		text-transform: none;
		font-style: italic;
		text-align: left;
		margin-bottom:50px;
		font-family: $font-book;
	}

	ul {
		@include listreset;

		li {
			a.crp_title {
				color:$brown;
				font-family: $font-bold;
				margin-bottom:20px;
				display:block;
				background-color:transparent;
				border-left:none;
			}
			
			// General a style, since image is not wrapped
			a {
				background-color:$brown;
				display:block;
				overflow:hidden;
				border-left:10px solid $blue-light;

				// DESKTOP
				max-height: 260px;
			}

			.crp_thumb {
				width:100%;
				opacity:.7;
				transition: all .5s .2s linear;
				
				// DESKTOP
				min-height:260px;

				&:hover {
					opacity:1;
					transform:scale(1.1) translate3d(0,0,0);
					transition:all .5s ease-in-out !important;
				}
			}
		}
	}
}

/*=====  End of Related Posts Widget  ======*/


/*======================================
=            Twitter Widget            =
======================================*/
.twitter-widget {
	@include clearfix;

	ul {
		@include listreset;

		li {
			line-height: 1.3 !important;
			background-image:none !important;
			padding-left:0px;

			a {
				font-style: normal;
				font-weight: normal;
			}
		}
	}

}

.twitter-widget-footer {
	@include clearfix;
	border-top:0px !important;
	margin-top:0px !important;
	padding-top:0px !important;

	a.twitter-link {
		color:$blue;
		text-transform: uppercase;
		font-family: $font-bold;
		font-size:rem(16);

		&:hover {
			color:$rose;
		}

		&:before {
			content: "\EA03";
			font-family: "acu-wp-icons";
			font-size:rem(24);
			vertical-align: middle;
			margin-right:5px;
			display:inline-block;
			line-height: 16px;
		}
	}
}

.tp_recent_tweets {}

/*=====  End of Twitter Widget  ======*/


/*=======================================
=            Facebook Widget            =
=======================================*/
.widget-facebook {
	border-top:0px !important;

	h2.widget-title {
		display:none;
		margin-bottom:0px;
	}

	a.facebook-link {

		color:$blue;
		text-transform: uppercase;
		font-family: $font-bold;
		font-size:rem(16);

		&:hover {
			color:$rose;
		}

		&:before {
			font-size:rem(26);
			vertical-align: middle;
			content: "\EA02";
			font-family: "acu-wp-icons";
		}
	}
	
}


/*=====  End of Facebook Widget  ======*/

/*================================================
=            Calendar Widget / Plugin            =
================================================*/
// Calendar List View
.simcal-events-list-container {

	ul.simcal-events {
		@include listreset;

		li.simcal-event {
			border-bottom:1px solid $tan !important;
			margin-bottom:60px !important;
		}
	}
	
	.simcal-event-details {
		font-size:rem(20) !important;
		margin-bottom:20px;		

		h2,
		.simcal-event-title {
			font-family: $font-medium;
			font-size:rem(22);
			font-weight: normal;
			line-height: 1;
			text-transform: none;
			text-align: left;
			
			margin:0px 0px 26px 0px;
		}

		.simcal-event-address {
			color:$brown-light;
			font-style: italic;
		}
	}
}
/*=====  End of Calendar Widget / Plugin  ======*/



